<form nz-form nzLayout="vertical" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="name" nzRequired>Name</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="nameErrorTooltip" [nzSpan]="6">
      <input nz-input type="text" id="idName" formControlName="name">
      <ng-template #nameErrorTooltip let-control>
        <ng-container *ngIf="control.hasError('required')">Product name is required</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="description">Description</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="descriptionErrorTooltip"  [nzSpan]="6">
      <nz-textarea-count [nzMaxCharacterCount]="1000">
        <textarea rows="5" formControlName="description" nz-input></textarea>
        <ng-template #descriptionErrorTooltip let-control>
          <ng-container *ngIf="control.hasError('required')">Description is required</ng-container>
        </ng-template>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item >
    <nz-form-item>
      <nz-form-label nzFor="price" nzRequired>Price</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="priceErrorTooltip" [nzSpan]="6">
        <nz-input-number id="idPrice" formControlName="price" [nzMin]="1"></nz-input-number>
        <ng-template #priceErrorTooltip let-control>
          <ng-container *ngIf="control.hasError('required')">Price is required</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label nzFor="discountedPrice" nzRequired>Discount Price</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="discountedPriceErrorTooltip" [nzSpan]="6">
        <nz-input-number id="idDiscountPrice" formControlName="discountedPrice" [nzMin]="1"></nz-input-number>
        <ng-template #discountedPriceErrorTooltip let-control>
          <ng-container *ngIf="control.hasError('required')">Discount Price is required</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="category" nzRequired>Category</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="6" [nzErrorTip]="categoryErrorTooltip">
      <nz-select formControlName="categoryId">
        <nz-option *ngFor="let category of categories" [nzValue]="category.id" [nzLabel]="category.name"></nz-option>
      </nz-select>
      <ng-template #categoryErrorTooltip let-control>
        <ng-container *ngIf="control.hasError('required')">Product Category is required</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="status" nzRequired>Product Status</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="6" [nzErrorTip]="statusErrorTooltip">
      <nz-select formControlName="productStatusId">
        <nz-option *ngFor="let status of productStatuses" [nzValue]="status.id" [nzLabel]="status.name"></nz-option>
      </nz-select>
      <ng-template #statusErrorTooltip let-control>
        <ng-container *ngIf="control.hasError('required')">Product status is required</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <app-button
    type="submit"
    [disabled]="!productForm.valid"
    variant="primary"
    [loading]="submitting"
    [label]="submitLabel">
  </app-button>
</form>
