<app-dashboard-header [title]="pageTitle">
  <nz-space>
    <button
      *nzSpaceItem
      class="products-list-add-product-btn"
      nz-button
      nzType="primary"
      (click)="onAddProductClick()">Add Product</button>
  </nz-space>
</app-dashboard-header>
<section class="products-list">
  <nz-table
    #basicTable
    [nzData]="products.results"
    [nzLoading]="loading || deletingProduct"
    [nzFrontPagination]="false"
    [nzTotal]="products.total"
    [nzPageSize]="productParams.limit"
    [nzPageIndex]="productParams.page"
    [nzShowSizeChanger]="true"
    (nzQueryParams)="onQueryParamsChange($event)" [nzScroll]="{ x: '360px' }">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Discount Price</th>
      <th>Category</th>
      <th>Status</th>
      <th>Deleted</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of products.results">
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.price | currency:"KES" }}</td>
      <td>{{ data.discountedPrice | currency: "KES" }}</td>
      <td>{{ data.category.name }}</td>
      <td>{{ data.productStatus.name }}</td>
      <td>
        <span nz-icon
              [nzType]="isDeleted(data) ? 'close-circle' : 'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="isDeleted(data) ? '#C41A1AFF' : '#3fc41a'">
        </span>
      </td>
      <td>
        <a [routerLink]="['/dashboard/products', data.productId, 'update']">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="Sure to delete?"
          (nzOnConfirm)="deleteProduct(data.productId)">Delete
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</section>
