<div class="signup-container">
  <div class="wrapper">
    <app-card [title]="'Create Account'">
      <form
        nz-form
        [formGroup]="form"
        (ngSubmit)="submitForm()"
        nzLayout="vertical"
      >
        <div class="primary-contact-item">
          <nz-form-item>
            <nz-form-label nzFor="email" nzRequired> Email </nz-form-label>
            <nz-form-control nzErrorTip="Enter a valid E-mail!">
              <input type="email" id="email" formControlName="email" nz-input />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="phone" nzRequired> Phone </nz-form-label>
            <nz-form-control nzErrorTip="Enter a valid Phone!">
              <input type="text" id="phone" formControlName="phone" nz-input />
            </nz-form-control>
          </nz-form-item>
        </div>
        <nz-form-item>
          <nz-form-label nzFor="firstName" nzRequired>
            First Name
          </nz-form-label>
          <nz-form-control nzErrorTip="First name is required!">
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              nz-input
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="lastName" nzRequired> Last Name </nz-form-label>
          <nz-form-control nzErrorTip="Last name is required!">
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              nz-input
            />
          </nz-form-control>
        </nz-form-item>
        <div class="password-item">
          <nz-form-item>
            <nz-form-label nzFor="password" nzRequired>
              Password
            </nz-form-label>
            <nz-form-control nzErrorTip="Password is required!">
              <input
                type="password"
                id="password"
                formControlName="password"
                nz-input
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="confirmPassword" nzRequired>
              Confirm Password
            </nz-form-label>
            <nz-form-control [nzErrorTip]="confirmPasswordErrorTp">
              <input
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword"
                nz-input
              />
            </nz-form-control>
            <ng-template #confirmPasswordErrorTp let-control>
              <ng-container *ngIf="control.hasError('required')">
                Confirm password is required!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Password must match!
              </ng-container>
            </ng-template>
          </nz-form-item>
        </div>
        <div class="action-section">
          <app-button
            type="submit"
            label="Register"
            variant="primary"
            [fullWidth]="true"
            [loading]="loading"
            [disabled]="loading"
          >
          </app-button>
          <div class="divider">
            <p>or</p>
          </div>
          <app-button
            type="button"
            label="Signin"
            variant="text"
            [fullWidth]="true"
            [loading]="loading"
            [disabled]="loading"
            (onClick)="navigateToLogin()"
          >
          </app-button>
        </div>
      </form>
    </app-card>
  </div>
</div>
